* {
  box-sizing: border-box;
}

html, body,
body > #root,
body > #root > .container {
  height: 100%;
}

.container > .input,
.container > pre {
  position: relative;
  float: left;
  width: calc(50% - 20px);
  margin: 10px;
  border: 1px solid #333;
  height: calc(100% - 20px);
  border-radius: 5px;
}

.container > .input > textarea {
  height: 100%;
  width: 100%;
  font-size: 14px;
  resize: none;
  border: none;
  padding: 0;
  border-radius: 5px;
}

.container > .input > textarea:focus {
  outline: none;
}

.container > .input > .alert {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  font-size: 13px;
  background-color: #f3867f;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.8;
}

.container > .input > .alert:empty {
  display: none;
}

.container > pre {
  background-color: aliceblue;
}